<div class="card mb-3 m-3 animate__animated animate__fadeIn  ">
    <div class="card-Header">
        <h2 class="card-title text-center">{{banda.nombre | uppercase}}</h2>
    </div>
    <div class="card-body">
        <img [src]="banda.foto" class="card-img" alt="foto/{{banda.nombre}}">
        <ul class="list-group list-group-flush mt-1">
            <li class="list-group-item"><strong>Origen:</strong> {{banda.origen}}</li>
            <li class="list-group-item"><strong>Miembros:</strong> {{banda.miembros}}</li>
            <li class="list-group-item"><strong>Periodo de Actividad:</strong> {{banda.periodo}}</li>
            <li class="list-group-item"><a class="card-link" href={{banda.sitioWeb}}>Sitio Web</a></li>
            <li class="list-group-item">
                <p class="text-justify">{{banda.historia}}</p>
            </li>
            <li class="list-group-item">
                <div class="embed-responsive embed-responsive-21by9">
                    <iframe class="embed-responsive-item" [src]="banda.video | domseguro" allowfullscreen></iframe>
                </div>
            </li>
        </ul>
        <div class="card-footer ">
            <div class="d-flex justify-content-around">
                <button class="btn btn-outline-secondary" routerLink="/bandas">Regresar a Bandas</button>
                <button class="btn btn-outline-danger" (click)="borrarBanda(banda.id)">Eliminar esta banda</button>
            </div>
        </div>
    </div>
</div>