<div class=" container row mt-5 ">
    <div class="col">
        <div class=" jumbotron bg-secondary fondo">
            <h1 class="display-4 text-white animate__animated animate__fadeInLeft animate__slow">Angular Rocks!</h1>
            <p class="lead text-light text-white animate__animated animate__fadeInLeft animate__slow">Esta App, desarrollada en Angular, muestra las mejores Bandas de Rock de todos los tiempos.</p>
            <hr class="my-4 ">
            <p class="lead ">
                <a class="btn btn-secondary btn-lg animate__animated animate__fadeIn animate__slower " routerLink="/bandas" role="button ">Ver Bandas</a>
            </p>
        </div>
    </div>
</div>
