<div class=" m-3 row row-cols-1 row-cols-md-2 animate__animated animate__fadeIn animate__slower">
    <div *ngFor="let banda of bandas" class="col mb-4">
        <div class="card">
            <img [src]="banda.foto" class="card-img-top" alt="foto/{{banda.nombre}}">
            <div class="card-body">
                <h5 class="card-title text-center">{{banda.nombre | uppercase}}</h5>
                <a [routerLink]="['/detalle',banda.id]" class="btn btn-outline-secondary btn-block">Información de la banda</a>
            </div>
        </div>
    </div>
</div>